<!DOCTYPE html>
<html lang="en-US" dir="ltr">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================--><!--    Document Title--><!-- ===============================================-->
    <title>FreewebTemplates-Gallery</title>

  
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/logo-favicon.png">
    

    <!-- ===============================================--><!--    Stylesheets--><!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700&amp;family=Volkhov:wght@700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800&amp;display=swap" rel="stylesheet">
    <link href="assets/css/theme.min.css" rel="stylesheet" />
    <link href="/templates/style.css" rel="stylesheet">
  </head>

  <body>

      <!-- Preloader -->
	<div class="spinner-wrapper">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<!-- end of preloader -->
    <!-- ===============================================--><!--    Main Content--><!-- ===============================================-->
    <main class="main" id="top">

      <!-- ============================================--><!-- <section> begin ============================-->

<!-- end of preloader -->
        <!-- Section starts here -->
<section class="py-0 overflow-hidden" style="position: relative; height: 100vh;">
  <!-- Background container, covering the entire section -->
  <div class="bg-holder bottom-0" style="background: linear-gradient(90deg, #FFFFFF -11.17%, #FFFFFF 110.39%); position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></div>

  <!-- Main container -->
  <div class="container-fluid h-100 d-flex align-items-center ">
    <!-- Background image inside the section -->
    <div class="bg-holder bottom-0" style="background-image:url(assets/img/hero/bg.png); background-position: bottom; background-size: cover; height: 100%; position: absolute; top: 0; left: 0; width: 100%;"></div>

    <button type="button" class="btn btn-light" style="z-index: 1; font-size: 13px; position: relative; left: 20px; bottom: 300px; color: black; "><a href="../index.html">Back Home</a></button>
      
    </div>
  </div>
</section>


        <!-- <section> close ============================--><!-- ============================================-->



      <!-- ============================================--><!-- <section> begin ============================-->
      <section class="py-0">
        <div class="container-fluid px-5">
          <nav class="navbar navbar-expand navbar-light rounded border mt-6 justify-content-center sticky-nav" >
            <div class="navbar-nav button-group" style="position: sticky;">
                <button class="btn is-checked active fw-medium" data-filter="*">All</button>
                <button class="btn fw-medium" data-filter=".landing" data-bs-nav="data-bs-nav">Landing pages</button>
                <button class="btn fw-medium" data-filter=".agency">Agency</button>
                <button class="btn fw-medium" data-filter=".business">Business & corporate</button>
                <button class="btn fw-medium" data-filter=".admin">Admin</button>
                <button class="btn fw-medium" data-filter=".food">Restaurant</button>
                <button class="btn fw-medium" data-filter=".medical">Medical field</button>
                <button class="btn fw-medium" data-filter=".travel">Travel & Booking</button>
                <button class="btn fw-medium" data-filter=".portfolio">Portfolio & Photography</button>
        
                <!-- Dropdown button for more categories -->
                <div class="btn-group">
                    <button class="btn  fw-medium" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Others
                    </button>
                    
                </div>
            </div>
        </nav>
        
        <!-- Back to top button -->
        <a class="back-to-top bg-info" href="#"><i class="fas fa-angle-double-up"></i></a>
        
          <section class="work" id="work">
          <div class="box-container">
        
        
          </div>
        
        </section>
          
        </div><!-- end of .container-->
      </section><!-- <section> close ============================--><!-- ============================================-->
   

  <!-- Copyright -->
  <div class="copyright" style="margin-top: 50px;">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <p class="p-small">Copyright © Freewebtemplates.shop @ 2024 - All rights reserved</p>
                  
              </div> <!-- end of col -->
          </div> <!-- enf of row -->
      </div> <!-- end of container -->
  </div> <!-- end of copyright --> 
  <!-- end of copyright -->
  
    


    

    </main><!-- ===============================================--><!--    End of Main Content--><!-- ===============================================-->



   <!-- Scripts -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js" integrity="sha512-SttpKhJqONuBVxbRcuH0wezjuX+BoFoli0yPsnrAADcHsQMW8rkR84ItFHGIkPvhnlRnE2FaifDOUw+EltbuHg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
   <script src="js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
   <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
   <script src="https://code.jquery.com/jquery-3.x.x.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.x.x/jquery.easing.min.js"></script>
 
   <script src="js/jquery.countdown.min.js"></script> <!-- The Final Countdown plugin for jQuery -->
   <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
   <script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
   <script src="js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
   <script src="/templates/script.js"></script> <!-- Custom scripts -->


   <!-- ==== ALL MAJOR JAVASCRIPT CDNS STARTS ==== -->
<!-- jquery cdn -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- vanilla tilt.js links -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js" integrity="sha512-SttpKhJqONuBVxbRcuH0wezjuX+BoFoli0yPsnrAADcHsQMW8rkR84ItFHGIkPvhnlRnE2FaifDOUw+EltbuHg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



<!-- isotope filter plugin cdn -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js" integrity="sha512-Zq2BOxyhvnRFXu0+WE6ojpZLOU2jdnqbrM1hmVdGzyeCa1DgM3X5Q4A/Is9xA1IkbUeDd7755dNNI/PzSf2Pew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- ==== ALL MAJOR JAVASCRIPT CDNS ENDS ==== -->


  </body>


<!-- Mirrored from themewagon.github.io/Bundle-2023/v1.0.0/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 23 Oct 2024 11:43:15 GMT -->
</html>